<div class="post-details">
<div class="post-date"><strong>Posted:</strong> {{ .Date.Format .Site.Params.dateform }}</div>
{{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") -}}
<div class="post-date"><strong>Last updated:</strong> {{ .Lastmod.Format .Site.Params.dateform }}</div>
{{- end -}}

{{- with .Params.tags }}
<div class="post-tags">{{- range . -}}<a class="{{ . | lower | replaceRE "\\.| |\\/" "-" }} tag"href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{.}}</a>{{- end }}</div>
{{- end }}

{{- with .Params.categories }}
<div class="post-categories">{{- partial "svg.html" (dict "context" . "name" "posts_single_categories") -}}{{- range . -}}<span class="category"><a href="{{ "categories/" | absLangURL }}{{ . | urlize }}">{{.}}</a></span>{{- end }}</div>
{{- end }}
</div>

{{- with .Params.description }}<p class="page-description">{{.}}</p>{{- end }}