{{ define "head" }}
{{- partial "bg-image.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
{{- if (or .Params.images .Params.featuredImg) }}
<div class="bg-img"></div>
{{- end }}
<main
	  class="site-main section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster {{- end -}}">
	<h1>{{ .Title }}</h1>
	<p class="post-date"><strong>Posted:</strong> {{ .Date.Format .Site.Params.dateform }}</p>
	{{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") -}}
	<p class="post-date"><strong>Last updated:</strong> {{ .Lastmod.Format .Site.Params.dateform }}</p>
	{{- end -}}

	{{- if gt (len .TableOfContents) 100 }}
	<div id="toc">
		<h3>Table of Contents</h3>
		{{ .TableOfContents }}
	</div>
	{{- end }}

	<div class="content">
		{{ if .Page.Params.github }}
		<a class="button" href="{{ .Page.Params.github }}">{{partial "svg.html" (dict "name" "github")}} View on Github
			▸</a>
		{{ end }}
		{{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}<a href="#${2}" class="anchor"
			   aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
					 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"></path>
					<line x1="8" y1="12" x2="16" y2="12"></line>
				</svg></a>${3}` | safeHTML }}
	</div>
	{{ partial "brainMade.html" . }}
	{{- if .Params.comments }}
	<div id="comments" class="thin">
		{{ partial "comments.html" . }}
	</div>
	{{- end }}
</main>
{{ end }}

{{ define "footer" }}<footer id="site-footer"
		class="section-inner thin {{- if ne false .Site.Params.usesAnimation }} animated fadeIn faster {{- end -}}">{{-
	if
	templates.Exists "partials/single-footer.html" -}}{{- partialCached "single-footer.html" . -}}{{- else -}}{{-
	partial "footer.html" . -}}{{- end -}}</footer>
{{ end }}