{{- $rootCtx := . -}}
<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-73LE1H3BHL"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-73LE1H3BHL');
	</script>

	{{- partial "google-tag-manager.html" (dict "context" . "name" "head") -}}
	{{- partial "analytics.html" . -}}
	{{- partial "site-meta.html" . -}}
	{{- partial "structure-extra.html" . -}}
	{{- partial "webschema.html" . -}}
	<title>
	{{- $title := .Title | default .Site.Title -}}
	{{- if in $title "Jesse Kaufman" -}}
		{{ $title }}
	{{- else -}}
		{{ $title }} – Jesse Kaufman
	{{- end -}}
	</title>

	<script defer data-domain="jessekaufman.com" src="https://plausible.lloydnet.org/js/script.file-downloads.outbound-links.pageview-props.tagged-events.js"></script>
	<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>


	<style type="text/css">
		#home-subtitle {
			animation: typing 5s
			steps({{strings.RuneCount .Site.Params.homeSubtitle}}, end), blink-caret 0.75s linear 5.1s infinite;		}
	</style>

	{{ if eq .RelPermalink "/contact/" }}
	<script defer type="module" src="{{ " js/main.js" | relURL }}"></script>
	{{ end }}

	{{ range .AlternativeOutputFormats -}}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
	{{ end -}}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify |
	fingerprint -}}
	<link rel="stylesheet dns-prefetch preconnect preload prefetch" as="style" media="screen"
		href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous">
	{{- range .Params.custom_css -}}
	{{ $c_css := resources.Get . | resources.ExecuteAsTemplate "css/style.css" $rootCtx | toCSS | minify | fingerprint
	-}}
	<link rel="stylesheet dns-prefetch preconnect preload prefetch" as="style" media="screen"
		href="{{ $c_css.Permalink }}" {{ printf "integrity=%q" $c_css.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous">
	{{- end -}}
	{{- if $.Page.Params.print -}}
	{{- $PRNTCSS := resources.Get "custom_css/print.scss" | resources.ExecuteAsTemplate "css/style.css" $rootCtx | toCSS
	| minify | fingerprint -}}
	<link rel="stylesheet dns-prefetch preconnect preload prefetch" as="style" media="print"
		href="{{ $PRNTCSS.Permalink }}" {{ printf "integrity=%q" $PRNTCSS.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous">
	{{- end -}}
	{{- block "head" . -}}{{- end -}}
	{{- if templates.Exists "partials/extra-head.html" -}}{{- partial "extra-head.html" . -}}{{- end -}}
</head>

<body id="page" class="{{ if .IsPage }}{{ if not (in .Path " /projects/") }}project-page{{ end }}{{ end }}">
	{{- partial "google-tag-manager.html" (dict "context" . "name" "body") -}}
	{{- block "header" . -}}{{ end -}}
	{{- block "main" . -}}{{ end -}}
	{{- block "footer" . -}}{{ end }}
	{{- partial "scroll-to-top.html" . }}
	{{- $main := resources.Get "js/main.js" -}}
	{{- if .Site.Params.code_copy_button | default true -}}
	{{ $codeCopy := resources.Get "js/code-copy.js" -}}
	{{ $script := slice $main $codeCopy | resources.Concat "js/bundle.js" | minify | fingerprint -}}
	<script async src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- else -}}
	{{ $script := $main | minify | fingerprint -}}
	<script async src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- end -}}
	{{- if and (not (eq .Site.Params.shareSocial nil)) (.Site.Params.shareSocial) -}}
	{{ $linkshare := resources.Get "js/link-share.js" | minify | fingerprint -}}
	<script async src="{{ $linkshare.Permalink }}" {{ printf "integrity=%q" $linkshare.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- end -}}
	{{- range .Params.custom_js -}}
	{{ $c_js := resources.Get . | minify | fingerprint -}}
	<script defer src="{{ $c_js.Permalink }}" {{ printf "integrity=%q" $c_js.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- end }}
	{{- partial "mathjax.html" . -}}
	{{- partial "mermaid.html" . -}}
	{{- if templates.Exists "partials/extra-foot.html" -}}{{- partial "extra-foot.html" . -}}{{- end }}

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			document.querySelectorAll(".content img").forEach(img => {
				img.style.cursor = "zoom-in"; // Indicate the image is clickable
				img.addEventListener("click", function () {
					let overlay = document.createElement("div");
					overlay.classList.add("lightbox-overlay");

					let enlargedImg = document.createElement("img");
					enlargedImg.src = img.src;

					overlay.appendChild(enlargedImg);
					overlay.addEventListener("click", () => overlay.remove());
					document.body.appendChild(overlay);
				});
			});
		});
	</script>


</body>

</html>